# Dependensi Node.js
node_modules/

# Berkas Environment & Rahasia Kredensial (Security Guard)
.env
.env.*
*.env
*.pem
*.key
*.cert
*.crt
*.pfx

# Log & Debugging
logs
*.log
npm-debug.log*
yarn-debug.log*

# Berkas Sistem Operasi
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE
.vscode/
.idea/

# Repositori/Clone lokal pihak ketiga
ponytail/
